@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

header{
    /* border: 2px solid; */
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

nav{
    /* border: 2px solid blue; */
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: .8rem 0;
}
nav h1{
    background-color: blue;
    border-radius: 100%;
    width: 100px;
    color: #fff;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    position: relative;
    width: 300px;
    display: flex;
}

form i{
    opacity: .6;
    top: 8px;
    position: absolute;
    font-size: 25px;
}
input[type=search]{
    width: 100%;
    padding: .4rem 1rem;
    outline: none;
}

.nav__items{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}
.calender{
    display: flex;
    flex-direction: column;
}

span:nth-child(even){
    opacity: .6;
    font-size: 14px;
}

.nav__items a{
    text-decoration: none;
    color: black;
    opacity: .7;
}
.nav__items a:hover{
    color: brown;
    border-left: 3px solid brown;
    padding-left: 5px;
}

.btn{
    height: 50px;
    background-color: black;
    color: white;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn i{
    font-size: 20px;
}

/* styling for main */
main{
    /* border: 2px solid blue; */
    padding-top: 15rem;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

/* first section */
.image__side{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    position: sticky;
    top: 20%;
}
.image__side img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.post__card{
    border-bottom: 2px solid gray;
    padding: 1rem;
    display: flex;
    margin-top: 30px;
}

.img__wrapper{
    width: 300px;
    border-radius: 10px;
    height: 30vh;
    object-fit: cover;
}

.img__wrapper img{
    width: 200px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.post__content{
    /* border: 2px solid; */
    padding: 1rem;
}

.top span:first-child{
    border: 2px solid gray;
    padding: 5px;
}

.post__body{
    margin: .8rem 0;
}

.post__body h2{
    font-size: 20px;
}
.post__body p{
    font-size: 14px;
    opacity: .6;
}

/* styling for footer */
footer{
    /* background-color: blueviolet; */
    margin-top: 7rem;
}
.footer{
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 1200px;
    gap: 10px;
}
.one{
    /* border: 2px solid; */
}
.head_one{
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    gap: 12px;
}
.head_one span{
    opacity: .7;
}
.head_one h3{
    /* border: 2px solid; */
    /* color: red; */
    font-size: 16px;
}
.head_line{
    /* border: 2px solid red; */
    width: 7rem;
    height: 2px;
    background-color: gray;
}
.one p{
    margin-top: 1.8rem;
    opacity: .8;
}
.three_one{
    margin-top: 1.8rem;
    border-bottom: 2px solid;
    padding-bottom: 1.5rem;
}
.three_one p:last-child{
    font-size: 12px;
    margin-top: 1rem;
}
.three_two{
    margin-top: 1rem;
    border-bottom: 2px solid;
    padding-bottom: 1rem;
}
.three_two p:last-child{
    font-size: 12px;
    margin-top: 1rem;
}
.four_one{
    margin-top: 1.8rem;
    border-bottom: 2px solid;
    padding-bottom: 1.5rem;
}
.four_one p:last-child{
    font-size: 12px;
    margin-top: 1rem;
}
.four_two{
    margin-top: 1rem;
    border-bottom: 2px solid;
    padding-bottom: 1rem;
}
.four_two p:last-child{
    font-size: 12px;
    margin-top: 1rem;
}
.lower_footer{
    margin: 2rem auto;
    width: 1200px;
    border-bottom: 2px solid;
}
.footer_links{
    /* border: 2px solid; */
    width: 300px;
    margin: 1rem auto;
}
.lower_footer a{
    border-right: 2px solid black;
    text-decoration: none;
    padding-right: 1rem;
    color: black;
}

